{
	"agentid": "mass publisher",
	"config-as": "publisher",
	"identity": "masspublisher",


	"pubblish-to": "marco",
	# Outfile will be located in VOLTTRON_HOME directory
	"outfile": "masspub.txt",

	# The message will be a 1 filed string that is sent across
	# the bus.  If not specified then the byte size will be set
	# to 1.
	"message-size-bytes": 50000,

	# The number of messages to publish to the bus
	"num-publishes": 50
}